body {
    background: #fafafa;
    color: #333333;
    margin-top: 3rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  .style2{
    color: white;
  }

  .distance2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .distance3 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
  .distance4 {
    margin-left: 10rem;
  }
    
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  /* Zentriert den "REDENI" Schriftzug in der Navbar */
  .logo{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Legt die Button Farbe bei den Buttons für die Seitenauswahl fest. */
  .btn-steel{
    background-color: #5f788a;
    color: white;
  }

  /* Legt die outline Farbe bei den Buttons für die Seitenauswahl fest. */
  .btn-outline-steel{
    border-color: #5f788a;
  }

  /* Legt die Hover Farbe bei den Buttons für die Seitenauswahl fest. */
  .btn-outline-steel:hover {
    background: #5f788a;
    color: white;
  }

  /* Legt die Position des "Abbrechen" Buttons bei dem Löschen einer Marke/Kategorie fest. */
  .update-cancel{
    margin-top: -66px; 
    margin-left: 100px;
  }

  .card-header{         
    min-height: 75px;    
    height: relative;
    background-color: white;

}

  .confirm-button{
    position: static;
    right: 33%;
    top: 20px;
  }