{% extends "layout.html" %}

{% block content %}

<!--Anzeigen der Überschrift-->
<div class="container-lg mt-4">
    {% include '_messages.html' %}
    <div class="">
        <h1>Ihre Bestellungen</h1>
    </div>

<!--Anzeigen der Kundendaten-->
    <div class="content-section">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <!--Überschriften der einzelnen Tabellenspalten.-->
                    <thead>
                        <th>Nr.</th>
                        <th>Rechnungsnummer</th>
                        <th>Bestelldatum</th>
                        <th>Uhrzeit</th>
                        <th>Anzeigen</th>
                    </thead>

                    <!--Aus "orders" werden die Nummer, Rechnungsnummer, Datum und Uhrzeit entnommen.-->
                    <tbody>
                        <tr>
                            {% for order in orders %}
                            <!--Die Bestellung wird nur angezeigt, wenn sie den Status "Paid" besitzt.-->
                            {% if order.status == 'Paid' %}
                            <td>{{loop.index}}</td>
                            <td>{{order.invoice}}</td>
                            <td>{{order.date_created.strftime('%d.%m.%Y')}}</td>
                            <td>{{order.date_created.strftime('%H:%M Uhr')}}</td>
                            <td><a href="{{url_for('users.showorder', invoice=order.invoice)}}" class="btn btn-sm btn-outline-info">Bestellung anzeigen</a></td>
                        </tr>
                            {% endif %}
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content%}