{% extends "layout.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

    <div class="container-lg mt-4">
    <div class="content-section">
        <form method="POST" action="">
            <!-- Wenn wir das Formular abschicken, bleiben wir auf der selben Seite (leerer String)-->
            {{ form.hidden_tag() }}
            <fieldset class="form-group distance2">
                <legend class="border-bottom mb-4"> Registrierung</legend>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group distance2">
                            {{ form.firstname.label (class="form-control-label") }}

                            {% if form.firstname.errors %}
                                {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.firstname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.firstname(class="form-control form-control-lg") }} 
                            {% endif %}
                        </div>
                        <div class="form-group distance2">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group distance2">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group distance2">
                            {{ form.lastname.label (class="form-control-label") }}

                            {% if form.lastname.errors %}
                                {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.lastname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.lastname(class="form-control form-control-lg") }} 
                            {% endif %}
                        </div>
                        <div class="form-group distance2">
                            {{ form.username.label (class="form-control-label") }}

                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control-lg") }} 
                            {% endif %}
                        </div>
                        
                        <div class="form-group distance2">
                            {{ form.confirm_password.label(class="form-control-label") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <legend class="border-bottom mb-4"></legend>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group distance2">
                            {{ form.country.label(class="form-control-label") }}
                            {% if form.country.errors %}
                                {{ form.country(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.country.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.country(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group distance2">
                            {{ form.zipcode.label(class="form-control-label") }}
                            {% if form.zipcode.errors %}
                                {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.zipcode.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.zipcode(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group distance2">
                            {{ form.address.label(class="form-control-label") }}
                            {% if form.address.errors %}
                                {{ form.address(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.address.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.address(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group distance2">
                            {{ form.state.label(class="form-control-label") }}
                            {% if form.state.errors %}
                                {{ form.state(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.state.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.state(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group distance2">
                            {{ form.city.label(class="form-control-label") }}
                            {% if form.city.errors %}
                                {{ form.city(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.city.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.city(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group distance2">
                            {{ form.contact.label(class="form-control-label") }}
                            {% if form.contact.errors %}
                                {{ form.contact(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.contact.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.contact(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        
                    </div>
                <div class="row">
                    <div class="col-md-1"></div>
                        <div class="form-group col-md-2">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>   
                    </div>
                </div>
            </fieldset>
            
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Sie haben bereits ein Konto? <a class="ml-2" href="{{ url_for('users.login') }}">Anmelden</a>
            <!-- An dieser Stelle wird der Name der Funktion in "flaskblog.py" genommen (login)-->
        </small>
    </div>

        <p>
            Mit Ihrer Anmeldung erklären Sie sich mit unseren <a href="about">Allgemeinen Geschäftsbedingungen</a>  einverstanden. Bitte lesen Sie unsere <a href="about">Datenschutzerklärung</a>, unsere Hinweise zu Cookies und unsere Hinweise zu interessenbasierter Werbung.
        </p>
    </div>
    </div>

{% endblock content %}




