{% extends "layout.html" %}

{% block content%}

<div class="album">
    <div class="container-lg my-4">
        {% include '_messages.html' %}
        <h1>Produkte</h1>

<!--Produktübersicht, wenn eine Kategorie ausgewählt wird------------------------------------>
        {% if category %}
        <!--Es wird die ausgewählte Kategorie als Überschrift angezeigt.-->
        <div class="h3 mb-3">{{c.name}}</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
        <!--Die For-Schleife sorgt dafür, dass jedes Produkt aus der ausgwählten Kategorie angezeigt wird.-->
        {% for c in category.items %}
            <div class="col d-flex">
                <!--Jedes Produkt wird als separate Karte angezeigt-->
                <div class="card shadow-sm flex-fill ">
                        <div class="card-title card-header m-3">
                        <p class="h5"> {{ c.name }} </p>
                        </div>
                    <!--Bei einem Klick auf das Bild, gelangt man zur Produktseite.-->
                    <div class="bd-placeholder-img text-center">
                        <a href="{{url_for('items.single_page', id=c.id)}}"><img class="img-fluid" src="{{url_for('static', filename='product_pics/' + c.image_1)}}" alt="{{c.name}}" style="max-height: 300px;"></a>
                    </div>
                    <!--Im Card Body werden der Preis, der Rabatt (falls vorhanden) und der reduzierte Preis (falls vorhanden) angezeigt.-->
                    <div class="card-body d-flex flex-column">
                        {% if c.discount > 0 %}
                        <div class="mb-2">
                            <small class="text-muted"><s>{{c.price}}€</s></small>
                            <small class="text-danger">- {{c.discount}}% &nbsp;</small>
                            <small class="text-danger">{{'%0.2f' | format(c.price|float - (c.price|float * (c.discount|float/100)))}}€</small>
                        </div>
                        {% else %}
                            <small class="text-muted">{{c.price}}€</small>
                        {% endif %}
                        <!--Jede Karte enthält einen "Anzeigen" und "In den Warenkorb" Button.-->
                        <div class="mt-auto">
                            <a href="{{url_for('items.single_page', id=c.id)}}" class="float-left btn btn-sm btn-outline-secondary">Anzeigen</a>
                            <form action="{{url_for('cart.AddCart')}}" method="POST">
                                <input type="hidden" name="product_id" value="{{c.id}}">
                                <button type="submit" class="btn btn-sm btn-warning mt-2">In den Warenkorb</button>
                                <!--Bei Klick auf "In den Warenkorb" wird standardmäßig die Menge auf 1 gesetzt und die Farbe auf die Standardfarbe.-->
                                <input type="hidden" name="quantity" id="" value="1" min="1" max=" {{c.stock}}">
                                {% set colors = c.colors.split(',') %}
                                <select name="colors" id="colors" style="visibility: hidden;">
                                {% for color in colors %}
                                {% set col = color.split(':') %}
                                <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                                {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

<!--Seitenauswahl am unteren Rand der Website (Kategorien)------------------------------------>
        <div class="row">
            <div class="col text-center">
                <!--"Vorherige" Button-->
                {% if category.has_prev %}
                    <a href="{{url_for('admin.get_category', id=c.id, page=category.prev_num)}}" class="btn btn-outline-steel btn-sm mt-3">Vorherige</a>
                {% endif %}
                <!--Legt fest, wie die Seitenauswahl angezeigt wird, wenn es über 4 Produktseiten gibt.-->
                {% if category.total> 4 %}
                    {% for page_num in category.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if category.page == page_num %}
                                <a href="{{url_for('admin.get_category', id=c.id, page=page_num)}}" class="btn btn-steel btn-sm mt-3">{{page_num}}</a>
                            {% else %}
                                <a href="{{url_for('admin.get_category', id=c.id, page=page_num)}}" class="btn btn-outline-steel btn-sm mt-3">{{page_num}}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!--"Nächste" Button-->
                {% if category.has_next %}
                    <a href="{{url_for('admin.get_category', id=c.id, page=category.next_num)}}" class="btn btn-outline-steel btn-sm mt-3">Nächste</a>
                {% endif %}
            </div>
        </div>



<!--Produktübersicht, wenn eine Marke ausgewählt wird------------------------------------>                
        {% elif brand2 %}
        <!--Es wird die ausgewählte Marke als Überschrift angezeigt.-->
        <div class="h3 mb-3">{{b.name}}</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
        <!--Die For-Schleife sorgt dafür, dass jedes Produkt aus der ausgwählten Marke angezeigt wird.-->
        {% for b in brand2.items %}
            <div class="col d-flex">
                <!--Jedes Produkt wird als separate Karte angezeigt-->
                <div class="card shadow-sm flex-fill">
                    <div class="card-title card-header m-3">
                        <p class="h5"> {{ b.name }} </p>
                    </div>
                    <!--Bei einem Klick auf das Bild, gelangt man zur Produktseite.-->
                    <div class="bd-placeholder-img text-center"><a href="{{url_for('items.single_page', id=b.id)}}"><img class="img-fluid" src="{{url_for('static', filename='product_pics/' + b.image_1)}}" alt="{{b.name}}" style="max-height: 300px;"></a>
                    </div>
                    <!--Im Card Body werden der Preis, der Rabatt (falls vorhanden) und der reduzierte Preis (falls vorhanden) angezeigt.-->
                    <div class="card-body d-flex flex-column">
                        {% if b.discount > 0 %}
                        <div class="mb-2">
                            <small class="text-muted"><s>{{b.price}}€</s></small>
                            <small class="text-danger">- {{b.discount}}% &nbsp;</small>
                            <small class="text-danger">{{'%0.2f' | format(b.price|float - (b.price|float * (b.discount|float/100)))}}€</small>
                        </div>
                        {% else %}
                            <small class="text-muted">{{b.price}}€</small>
                        {% endif %}
                        <!--Jede Karte enthält einen "Anzeigen" und "In den Warenkorb" Button.-->
                        <div class="mt-auto">
                            <a href="{{url_for('items.single_page', id=b.id)}}" class="float-left btn btn-sm btn-outline-secondary">Anzeigen</a>
                            <form action="{{url_for('cart.AddCart')}}" method="POST">
                                <input type="hidden" name="product_id" value="{{b.id}}">
                                <!--Bei Klick auf "In den Warenkorb" wird standardmäßig die Menge auf 1 gesetzt und die Farbe auf die Standardfarbe.-->
                                <button type="submit" class="btn btn-sm btn-warning mt-2">In den Warenkorb</button>
                                <input type="hidden" name="quantity" id="" value="1" min="1" max=" {{b.stock}}">
                                {% set colors = b.colors.split(',') %}
                                <select name="colors" id="colors" style="visibility: hidden;">
                                {% for color in colors %}
                                {% set col = color.split(':') %}
                                <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                                {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

<!--Seitenauswahl am unteren Rand der Website (Marken)------------------------------------>
        <div class="row">
            <div class="col text-center">
                <!--"Vorherige" Button-->
                {% if brand2.has_prev %}
                    <a href="{{url_for('admin.get_brand', id=b.id, page=brand2.prev_num)}}" class="btn btn-outline-steel btn-sm mt-3">Vorherige</a>
                {% endif %}
                <!--Legt fest, wie die Seitenauswahl angezeigt wird, wenn es über 4 Produktseiten gibt.-->
                {% if brand2.total> 4 %}
                    {% for page_num in brand2.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if brand2.page == page_num %}
                                <a href="{{url_for('admin.get_brand', id=b.id, page=page_num)}}" class="btn btn-steel btn-sm mt-3">{{page_num}}</a>
                            {% else %}
                                <a href="{{url_for('admin.get_brand', id=b.id, page=page_num)}}" class="btn btn-outline-steel btn-sm mt-3">{{page_num}}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!--"Nächste" Button-->
                {% if brand2.has_next %}
                    <a href="{{url_for('admin.get_brand', id=b.id, page=brand2.next_num)}}" class="btn btn-outline-steel btn-sm mt-3">Nächste</a>
                {% endif %}
            </div>
        </div>



<!--Produktübersicht, wenn weder Kategorie noch Marke ausgewählt wird------------------------------------>
        {% else %}
        <!--Es wird "Alle Produkte" als Überschrift angezeigt.-->
        <div class="h3 mb-3">Alle Produkte</div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-3">
        <!--Die For-Schleife sorgt dafür, dass jedes Produkt angezeigt wird.-->
        {% for product in products.items %}
            <div class="col d-flex">
                <!--Jedes Produkt wird als separate Karte angezeigt-->
                <div class="card shadow-sm flex-fill">
                    <div class="card-title card-header m-3">
                        <p class="h5"> {{ product.name }} </p>
                    </div>
                    <div class="bd-placeholder-img text-center">
                        <!--Bei einem Klick auf das Bild, gelangt man zur Produktseite.-->
                        <a href="{{url_for('items.single_page', id=product.id)}}"><img class="img-fluid" src="{{url_for('static', filename='product_pics/' + product.image_1)}}" alt="{{product.name}}" style="max-height: 300px;"></a>
                    </div>
                    <!--Im Card Body werden der Preis, der Rabatt (falls vorhanden) und der reduzierte Preis (falls vorhanden) angezeigt.-->
                    <div class="card-body d-flex flex-column">
                        {% if product.discount > 0 %}
                        <div class="mb-2">
                            <small class="text-muted"><s>{{product.price}}€</s></small>
                            <small class="text-danger">- {{product.discount}}% &nbsp;</small>
                            <small class="text-danger">{{'%0.2f' | format(product.price|float - (product.price|float * (product.discount|float/100)))}}€</small>
                        </div>
                        {% else %}
                            <small class="text-muted">{{product.price}}€</small>
                        {% endif %}
                        <!--Jede Karte enthält einen "Anzeigen" und "In den Warenkorb" Button.-->
                        <div class="mt-auto">
                            <a href="{{url_for('items.single_page', id=product.id)}}" class="float-left btn btn-sm btn-outline-secondary">Anzeigen</a>
                            <form action="{{url_for('cart.AddCart')}}" method="POST">
                                <input type="hidden" name="product_id" value="{{product.id}}">
                                <!--Bei Klick auf "In den Warenkorb" wird standardmäßig die Menge auf 1 gesetzt und die Farbe auf die Standardfarbe.-->
                                <button type="submit" class="btn btn-sm btn-warning mt-2">In den Warenkorb</button>
                                <input type="hidden" name="quantity" id="" value="1" min="1" max=" {{product.stock}}">
                                {% set colors = product.colors.split(',') %}
                                <select name="colors" id="colors" style="visibility: hidden;">
                                {% for color in colors %}
                                {% set col = color.split(':') %}
                                <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                                {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    
<!--Seitenauswahl am unteren Rand der Website (Alle Produkte)------------------------------------>   
        <div class="row">
            <div class="col text-center">
                <!--"Vorherige" Button-->
                {% if products.has_prev %}
                    <a href="{{url_for('items.products', page=products.prev_num)}}" class="btn btn-outline-steel btn-sm mt-3">Vorherige</a>
                {% endif %}
                <!--Legt fest, wie die Seitenauswahl angezeigt wird, wenn es über 4 Produktseiten gibt.-->
                {% if products.total> 4 %}
                    {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if products.page == page_num %}
                                <a href="{{url_for('items.products', page=page_num)}}" class="btn btn-steel btn-sm mt-3">{{page_num}}</a>
                            {% else %}
                                <a href="{{url_for('items.products', page=page_num)}}" class="btn btn-outline-steel btn-sm mt-3">{{page_num}}</a>
                            {% endif %}
                        {% else %}
                            ...
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!--"Nächste" Button-->
                {% if products.has_next %}
                    <a href="{{url_for('items.products', page=products.next_num)}}" class="btn btn-outline-steel btn-sm mt-3">Nächste</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}