{% extends "layout.html" %}
{% block content %}
<div class="container-lg mb-4">
    <div class="py-4">
        <h1>Über uns</h1>
        <hr>
    </div>
    <div class="">
        REDENI ist ein internationaler B2C Fastfashion Onlinehändler. 
        Das Unternehmen ist spezialisiert auf Herrenbekleidung und bietet dabei Kopfbedeckungen, 
        Schuhe, Pullover und weitere Modeartikel an. REDENI‘s Hauptmärkte sind Europa, USA, Australien, 
        der mittlere Osten und weitere Verbrauchermärkte. Die Marke wurde im Jahr 2020 gegründet und lebt 
        seitdem nach ihrer Philosophie: "Jeder kann die Schönheit von Mode genießen." Die Marke wird an über 
        150 Länder auf der Welt verkauft.
    </div>
    <div class="py-4">
        <hr>
        <h2>Unsere Mission</h2>
    </div>
    <div class="mb-3">
        REDENI ist stolz darauf, sowohl jungen Männern als auch Teenagern trendige Styles anzubieten, 
        die modern und erschwinglich sind. REDENI strebt nach dem Konzept "Jeder kann die Schöhnheit von Mode genießen". 
        REDENI ist in der Lage, sich über die neuesten Modetrends aus aller Welt zu informieren und diese schnell auf den Markt zu bringen. 
        Ob Sie nun grafische T-Shirts oder gemusterte Pullover und schicke Hosen suchen, REDENI ist der ultimative One-Stop-Shop für die modernen 
        und dennoch sparsamen Fashionista. Ziel ist es, weltweit jedem Kunden umgehend stilvolle Qualitätsprodukte zu attraktiven Preisen anzubieten.
    </div>
    <div class="py-4">
        <hr>
        <h2>Wie können Sie uns finden?</h2>
    </div>
    <div class="mb-3">
        REDENI verkauft nun in über 150 Länder der Welt. REDENI liefert aus einem seiner vielen global aufgestellten Lagerhäusern. 
        Angestrebt von seiner Unternehmensphilosphie kontrolliert REDENI die Qualität der eigenen Produktion. 
        REDENI ist bestrebt, die neueste Mode in höchster Qualität und einem guten Service anzubieten und so unsere Werte an unsere Kunden 
        zu übermitteln. 
    </div>
</div>

    
{% endblock content %}