{% extends "layout.html" %}

{% block title %}FAQ{% endblock %}

{% block content%}

<div class="container-lg mb-4">
    <div class="py-4">
        <h1>Häufig gestellte Fragen</h1>
        <hr>
    </div>
    <div class="">
        <h3>Wo ist mein Paket?</h3>
    </div>
    <div class="">
        Wir informieren Sie über die voraussichtliche Lieferzeit Ihrer Bestellung in der Bestellübersicht sowie in der Bestellbestätigung per E-Mail - 
        diese Zeit kann jedoch abhängig von den ausgewählten Artikeln und der Versandart variieren.
        Eine genauere Schätzung der Lieferzeit finden Sie in der Versandbestätigung. 
        Diese erhalten Sie per E-Mail, sobald deine Bestellung auf dem Weg zu Ihnen ist.
    </div>
    <div class="py-4">
        <hr>
        <h2>Warum wurde meine Bestellung noch nicht versendet?</h2>
    </div>
    <div class="mb-3">
        Bitte gen Sie uns etwas Zeit, Ihre Bestellung für den Versand vorzubereiten. 
        In der Regel versenden wir Bestellungen innerhalb von 48 Stunden, bei einigen Bestellungen kann es etwas länger dauern.
    </div>
    <div class="py-4">
        <hr>
        <h2>Kann ich noch einmal ändern, wann und wie mein Paket zugestellt wird?</h2>
    </div>
    <div class="mb-3">
        Ja, das geht! Unser Versandpartner DHL schickt Ihnen immer eine E-Mail zur Paketankündigung. 
        Darüber können Sie einen Wunsch-Zustellort wie z.B. einen Paketshop bestimmen oder den Zustelltag ändern. 
    </div>
    <div class="py-4">
        <hr>
        <h2>Was passiert, wenn ich beim ersten Zustellversuch nicht da bin?</h2>
    </div>
    <div class="mb-3">
        Falls der Paketbote sie nicht antrifft, sehen sie über die Sendungsverfolgung, 
        ob das Paket z.B. bei einem Nachbarn oder in einer Filiale abgegeben wurde. 
        In einigen Fällen erfolgt der zweite Zustellversuch über einen anderen Versanddienstleister.
         Alle Updates dazu findest sie in der Sendungsverfolgung.
    </div>
</div>

{% endblock %}