{% extends "layout.html" %}

{% block title %}Garantie{% endblock %}

{% block content%}

<div class="container">
    <div class="py-4">
        <h1>Garantiebedingungen</h1>
        <hr>
        <h2>2 Jahre eingeschränkte Garantie</h2>
    </div>
    <div class="">
        Unter REDENI bieten wir eine 2-jährige globale Garantie auf alle REDENI Produkte. 
        Wir decken alle Herstellungsfehler ab, nicht aber Schäden, die durch normalen Verschleiß oder Missbrauch 
        Ihres REDENI Produkts entstanden sind.
        Hülle Im Falle einer Garantie Reklamation bemühen wir uns, das Produkt durch ein gleiches Modell zu ersetzen, 
        aber wir können dies nicht garantieren! In einigen Fällen bieten wir ein neues Modell oder eine neue Farbe oder 
        eine Gutschrift für unseren Webshop an. Während Ihrer 2-Jahres-Frist Garantie erlaubt, REDENI eine Garantie 
        Reklamation pro gekauftem Produkt.
    </div>
    <div class="py-4">
        <hr>
        <h2>Garantieabwicklung</h2>
    </div>
    <div class="mb-3">
        In einem Garantiefall, kontaktieren Sie uns bitte unter <b>support@REDENI.de</b>. 
        Bitte fügen Sie der E-Mail eine kurze Problembeschreibung und ein Bild/Video, welches das Problem zeigt, bei. 
        Damit wir Ihr Anliegen bearbeiten können, geben Sie bitte zusätzlich die Bestellnummer in der E-Mail an.
        Sie erhalten von uns in der Regel eine Rückmeldung innerhalb von drei Werktagen. 
        Je nach Situation, kann von uns eine Rücksendung des betroffenen Artikels zur genaueren Untersuchung angeordnet werden. 
    </div>
    <div class="py-4">
        <hr>
        <h2>Weitere Informationen</h2>
    </div>
    <div class="mb-3">
        REDENI ist nicht verantwortlich für Produktschäden, die durch den Kunden verusacht wurden.
        Die Garantie deckt keine Gebrauchsspuren ab, die bei der normalen Nutzung entstehen können. 
    </div>
</div>







{% endblock %}