{% extends "layout.html" %}

{% block title %}Rücksendung{% endblock %}

{% block content%}

<div class="container-lg mt-4">
    <div class="pb-3">
        <h1>Rücksendung</h1>
        <hr>
    </div>
    <div class="">
        <h2>Rücksendebedingungen</h2>
    </div>
    <div class="mb-3">
        Sollten Sie mit Ihrer Bestellung nicht zufrieden sein, können Sie diese innerhalb von 30 Tagen kostenfrei an uns zurücksenden.
        Bitte verwenden Sie dafür das im Paket beigelegte Rücksendeformular und Retourenaufkleber und folgen Sie der Anleitung. 
        Bei Fragen, hilft Ihnen unser Kundenservice gerne weiter.
    </div>
</div>

{% endblock %}