{% extends "layout.html" %}

{% block title %}Versand &amp; Lieferung{% endblock %}

{% block content%}

<div class="container-lg mb-4">
    <div class="py-4">
        <h1>Versand & Lieferbedingungen</h1>
        <hr>
    </div>
    <div class="">
        <h2>Versandkosten</h2>
    </div>
    <div class="mb-3">
        Für Bestellungen innerhalb Deutschlands, wird eine Versandkostenpauschale in Höhe von 4,90€ berechnet.
        Ab einem Bestellwert von 24,90€ erfolgt die Lieferung Versandkostenfrei.
    </div>
    <div class="">
        REDENI versendet seine Produkte in die ganze Welt. 
        Die Versandkosten können variieren und werden im letzten Bestellschritt angezeigt.
        Das Risiko für weitere Einfuhrabgaben, auf die REDENI keinen Einfluss hat, trägt der Käufer.
        Entsprechende Abgaben sind vom Kunden direkt an die zuständigen Behörden zu bezahlen, sollte der Kunde dazu aufgefordert werden. 
    </div>
    <div class="mt-4">
            <h2>Lieferzeit</h2>
    </div>
    <div class="">
        Die Lieferzeit beträgt bei sofortiger Verfügbarkeit der Ware in der Regel 2-3 Werktage.
        Die Lieferzeit bei Internationalen Lieferungen kann abweichen.
    </div>
    <div class="mt-4">
        <h2>Annullierungen oder Änderungen</h2>
    </div>
    <div class="">
        Um Ihre Bestellung so schnell wie möglich zu versenden, 
        werden alle Bestellungen so schnell wie möglich bearbeitet. 
        Aus diesem Grund können wir keine Änderungen an einer Lieferadresse vornehmen oder eine Bestellung stornieren.
    </div>
</div>






{% endblock %}