{% extends "layout.html" %}

{% block title %}Zahlung{% endblock %}

{% block content%}

<div class="container-lg mb-4">
    <div class="py-4">
        <h1>Zahlung</h1>
        <hr>
    </div>
    <div class="">
        <h2>Preis & MwST</h2>
    </div>
    <div class="mb-3">
        Alle Preise beinhalten die anwendbare Mehrwertsteuer und alle anderen Steuern (falls zutreffend). 
        Alle Preise verstehen sich zzgl. Versandkosten. Die Versandkosten sind immer über den Link „Versandinfo“ 
        über die Website oder die Apps abrufbar. Sie werden auch individuell für Ihre Bestellung innerhalb des Bezahlvorgangs angegeben. 
        Die Gesamtkosten der Bestellung setzen sich aus dem Preis der bestellten Produkte und den Versandkosten zusammen.
    </div>
    <div class="mt-4">
            <h2>Zahlung Per PayPal</h2>
    </div>
    <div class="">
        Wenn Sie Ihre Zahlung per PayPal machen, werden Sie direkt zu PayPal weitergeleitet 
        und Sie können sich dort mit Ihren Benutzerdaten anmelden und die Zahlung durchführen.
        Sie können auch ohne PayPal-Konto zur Kasse gehen. Klicken Sie dazu bitte auf "Bezahlen mit Bankkarte/Kreditkarte" 
        und Sie werden auf eine sichere Seite weitergeleitet, auf der Sie Ihre Kreditkartendaten eingeben oder Ihre Zahlung 
        sicher über PayPal vornehmen können.
    </div>
    <div class="mt-4">
        <h2>Bezahlen Mit Kredit- / Debitkarte</h2>
    </div>
    <div class="">
        Sie können mit einer der oben aufgeführten Karten bezahlen. Die oben aufgeführten Kreditkartenunternehmen sind die am 
        häufigsten verwendeten Kreditkarten auf dieser Website. Machen Sie sich keine Sorgen, wenn Ihr Kreditkartenunternehmen 
        nicht aufgeführt ist, wir empfehlen Ihnen, den Einkauf fortzusetzen.
        Beachten Sie, dass SHEIN Ihre persönlichen Daten oder Kreditkartennummer nicht speichert, wenn Sie eine Zahlung tätigen. 
        Bei Rückfragen bezüglich Ihre Transaktionen auf unserer Webseite, wenden Sie sich bitte direkt an Ihre Bank.
    </div>
</div>







{% endblock %}